NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=troque-este-segredo
DISCORD_CLIENT_ID=seu_client_id
DISCORD_CLIENT_SECRET=seu_client_secret
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/DBonne_dev?schema=public"
ONNE_BOT_API_URL=http://localhost:3344
ONNE_BOT_API_TOKEN=dev-token
